nav{
    font-family: Arial, sans-serif;
    font-size: 14px;
}
footer{
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(226, 226, 226);
    height: 40px;
}
main{
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar a{
    color: #3c4043;
}
a { 
    text-decoration: none;
    padding: 1rem;
}
a:hover {
    text-decoration: underline;
}
#n-left{
    display: flex;
    justify-content: space-evenly;
    margin-left: .5rem;
}
#n-right{
    display: flex;
    justify-content: space-evenly; 
    margin-right: .5rem;
}
.footbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footbar a{
    color: #70757a;
}
#f-left{
    display: flex;
    justify-content: space-evenly;
    margin-left: 1.5rem;
}
#f-right{
    display: flex;
    justify-content: space-evenly; 
    margin-right: 1.5rem;
}
#user-icon{
    max-height: 40px;
    border-radius: 100000px;
    margin: 4px;
}
#app-icon{        
    max-height: 30px;
    margin: 10px;
}
.image-link{
    padding: 0;
}
#app-icon{
    filter: invert(39%) sepia(14%) saturate(195%) hue-rotate(173deg) brightness(89%) contrast(82%);
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#main-icon{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
#searchbar{
    display: flex;
    align-items: center;
    border: 1.5px solid #dfe1e5;
    border-radius: 50px;
    width: 37rem;
    height: 2.7rem;
}
#searchbar:hover{
    box-shadow: 0px 0px 4px rgb(192, 192, 192);
}
#search-icon{
    height: 20px;
    width: auto;
    filter: invert(71%) sepia(6%) saturate(306%) hue-rotate(169deg) brightness(88%) contrast(92%);
    padding-left: 10px;
}
#speech-icon{
    height: 25px;
    width: auto;
    padding-right: 10px;
}
.main input{
    outline: none;
    width: 90%;
    border: 0px;
}
#search-buttons{
    padding-top: 2rem;
}
#search-buttons button{
    border: 0px;
    background-color: #f8f9fa;
    height: 40px;
    width: 130px;
    color: #3c4043;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 8x;
    margin-left: 8px;
}
#search-buttons button:hover{
    border: 1px solid rgb(207, 207, 207);
}
#whitespace-top{
    display: flex;
    height: 15vh;
}
#whitespace-bottom{
    display: flex;
    flex-grow: 1;
}